* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: #222;
    transition: .4s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    color: white;
}

.logo {
    font-size: 28px;
    font-weight: 700;
}

.navbar button {
    border: none;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
}

main {
    width: 85%;
    margin: auto;
}

.hero {
    text-align: center;
    color: white;
    margin: 30px;
}

.hero h1 {
    font-size: 40px;
}

.controls {
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 20px;
}

.input-box {
    display: flex;
    gap: 10px;
}

input,
select {
    padding: 15px;
    border: none;
    border-radius: 12px;
    outline: none;
    flex: 1;
}

button {
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

.stats {
    display: flex;
    gap: 20px;
    margin: 30px 0;
}

.stats div {
    flex: 1;
    background: rgba(255, 255, 255, .25);
    backdrop-filter: blur(15px);
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.stats span {
    font-size: 30px;
    font-weight: bold;
}

.board {
    display: flex;
    gap: 25px;
}

.column {
    flex: 1;
    background: rgba(255, 255, 255, .25);
    backdrop-filter: blur(20px);
    padding: 25px;
    border-radius: 25px;
    min-height: 300px;
}

.task {
    background: white;
    padding: 18px;
    border-radius: 15px;
    margin: 15px 0;
    animation: slide .3s;
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
}

.task h3 {
    margin-bottom: 10px;
}

.badge {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.actions {
    margin-top: 15px;
    display: flex;
    gap: 8px;
}

.complete {
    background: #16a34a;
}

.edit {
    background: #f59e0b;
}

.delete {
    background: #dc2626;
}

.dark {
    background: linear-gradient(135deg, #111827, #020617);
}

.dark .task {
    background: #1f2937;
    color: white;
}

.dark input,
.dark select {
    background: #374151;
    color: white;
}

@media(max-width:800px) {
    .board {
        flex-direction: column;
    }

    .input-box {
        flex-direction: column;
    }
}

.empty {
    text-align: center;
    opacity: .7;
    padding: 20px;
    font-size: 18px;
}